.swiper-slide h4 {
  margin: 8px 0 20px 0;
}

.paragraph-subtitle {
  color: #738578 !important;
  font-weight: 600 !important;
  margin: 40px 0 15px 0;
}

.paragraph-text {
  width: 300px;
  line-height: 1.4 !important;
}

.divide-line {
  width: 80px;
  height: 1px;
  background-color: #738578;
}